body{
    margin:0;
    font-family: Georgia, serif;
    background:#fff8f4;
    color:#5e4b45;
}

nav{
    background:#fffdfb;
    padding:20px;
    text-align:center;
    box-shadow:0 2px 8px rgba(0,0,0,0.08);
}

nav a{
    text-decoration:none;
    color:#c77b91;
    margin:20px;
    font-size:18px;
    font-weight:bold;
}

nav a:hover{
    color:#e5a4b6;
}

.hero{
    text-align:center;
    padding:60px 20px;
}

.hero h1{
    font-size:70px;
    color:#c77b91;
}

.hero p{
    font-size:22px;
}

.hero img{
    width:250px;
}

.cards{
    display:flex;
    justify-content:center;
    flex-wrap:wrap;
    gap:25px;
    padding:30px;
}

.card{
    background:white;
    width:280px;
    border-radius:20px;
    padding:20px;
    box-shadow:0 2px 10px rgba(0,0,0,0.08);
    text-align:center;
}

.card img{
    width:100%;
    border-radius:15px;
}

.button{
    display:inline-block;
    background:#c77b91;
    color:white;
    padding:12px 24px;
    border-radius:30px;
    text-decoration:none;
}

.page-title{
    text-align:center;
    color:#c77b91;
    margin-top:40px;
    font-size:50px;
}

.contact-links{
    text-align:center;
    padding:50px;
}

.contact-links a{
    display:block;
    margin:15px;
    color:#c77b91;
    font-size:22px;
    text-decoration:none;
}
